/* Style Document */

body {
  background-color: lightblue;
}


@media only screen and (max-width: 500px) {
  body {
    background-color: white;
  }
}


p {
	color:blue;
	font-size: 25px;
}


a {
	color:blue;
}

.first
{
	color:green;
}
.second
{
	color:yellow;
}


ol.options {
	padding: 0px;
}

li:hover {	
border: 5px solid red;
transform: scale(1.1);

}

div {
	color:red;
	font-size: 25px;
}
span {
	color:black;
	font-size: 20px;
}


li.options {
	padding: 0px;
	padding-left: 0px;
	margin: 0px;
	margin-left: 0px;
	height:120px;
	width: 130px;

}



.title {
	margin: 0px;
	text-align: center;
	color:black;
}

.bye
{
	color:green;
}


h1 {
	padding: 0px;